.hdr-top-logo {
    fill: #ffffff;
}
.bg-nav {
    background-color: #f72210;
    color: #ffffff;
    padding: 5px !important;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}
.nav-link {
    color: #000000 !important;
    font-weight: 600;
}
.nav-link:hover {
    transition: .4s;
    color: #f72210 !important;
}
.signin-bx a {
    color: #ffffff;
}
.header-bottom {  
    content: "";
    width: 70px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}
.subscribe-btn,
.state-color a {
    color: #f72210;
    font-weight: 700;
}
.subscribe-btn {
    width: 120px;
    height: 30px;
}
.bg-color {
    background-color: #ffffff;
}
.search {
    color: rgb(189, 184, 184);
}
.culture-img {
    width: 30%;
}
.card-body {
    padding: 10px 0;
}
.card-title a {
    color: #000000;
    font: bold 20px/40px "Roboto Condensed",sans-serif;
    line-height: 1.4;
}

.card-text {
    color: #333333;
    font-family: 15px "Arial, Helvetica, sans-serif";
}
.center-btn {
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/40px "Roboto Condensed",sans-serif;
    text-align: center;
    margin: 14px auto 18px
}
.hdr-txt {
    color: rgba(3,3,3,.4);
    text-transform: uppercase;
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    padding-bottom: 11px;
}
.hdr-img {
    width: 37px;
}
.display {
    display: none;
}
.ft-img {
    position: relative;
}
.ft-img-news {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: #ffffff;
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    color: #f72210;
}
.txt-font a {
    color: #000000;
    font: bold 17px/21px "Roboto Condensed",sans-serif;
}
.txt-font-name {
    color: #555555;
    font: bold 15px/19px "Roboto Condensed",sans-serif;
}
.name-by strong {
    font: bold 17px/19px "Roboto Condensed",sans-serif;
}
.culture-font a {
    color: #272727;
    font: 20px/22px "Lora",serif;
    margin-bottom: 10px
}

.cult-summary {
    font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif;
    color: rgba(39,39,39,.5);
    margin-bottom: 10px;
}
.debate-feature {
    font: bold 17px/21px "Roboto Condensed",sans-serif;
}
.state-color a {
    font: bold 22px/40px "Roboto Condensed",sans-serif;
}
.debate-feature a {
    color: #000000;
}

.bdr-top {
    border-top: 3px solid;
}
.img-magazine {
    width: 100%;
    transition: opacity 500ms ease-in-out 100ms;
}
.txt-magazine {
    color: #f72210;
    margin: 10px 0;
    font: bold 16px/21px "Roboto Condensed",sans-serif;
}
.txt-magazine strong {
    background-color: #f72210;
    text-transform: uppercase;
    color: #ffffff;
    padding: 3px 5px;
}
.logo-col {
    fill: #f72210;
} 
.footer-link {
    margin: 0; 
    padding: 0 5px;
    font: 15px "Roboto Condensed",sans-serif;
}
.footer-links {
    margin: 0; 
    padding: 0 10px;
    color: #333333 !important;
    font: 15px "Roboto Condensed",sans-serif;
}
.nav-item span, 
.footer-links:hover {
    color: #000000 !important;
}
.card-title a:hover {
    text-decoration-color: #f72210;
}

.txt-font a:hover,
.news-col a:hover,
.state-color a:hover {
    color: #f72210;
    transition: color .4s;
    text-decoration: none;
}
.signin-bx a:hover,
.culture-font a:hover {
    text-decoration: none;
}

.debate-feature a:hover {
    text-decoration: none;
}
